
.container-fluid, .container {
	min-height:100%;
}
	.map-half {
		height: 90%;
	}
		#map {
			width: 100%;
			height: 100%;
			background: #636363;
		}


	.art-half {
		height: 30%;
	}
		.art-half img {
			max-height: 100%;
		}


	.bottom-half {
		width: 100%;
	}

.hide {
	display: none;
}