

.site-cards .card {
    padding: 0 !important;
    margin: 0 10px 40px 0 !important;
    min-height: 350px;
}
.site-cards .card .card-title, .site-cards .card .card-text {
    padding: 0 10px;
}
.site-cards .card .btn {
    padding: 0 auto;
}

.card-streetlights {
    background: yellow;
}
.card-lumiere {
    background: #b982bd;
}

